/run/nbproject/private/
/run/dist/
/run/build/
/GAURAV PROJECT/HOSPITAL/nbproject/private/
/Network/nbproject/private/
/T_SEARCH/nbproject/private/
/Web/nbproject/private/
/XML/nbproject/private/
/college/nbproject/private/
/jsp/nbproject/private/
/lambda_8/nbproject/private/
/struts/nbproject/private/
/college/dist/
/college/build/
/GAURAV PROJECT/HOSPITAL/build/
/GAURAV PROJECT/HOSPITAL/dist/
/jsp/build/
/lambda_8/build/
/Network/build/
/Network/dist/
/struts/dist/
/struts/build/
/T_SEARCH/dist/
/T_SEARCH/build/
/Web/build/
/lambda_8/dist/
/XML/build/
/XML/dist/
/Web/dist/
/junittest/nbproject/private/
/junittest/build/
/percolation/nbproject/private/